html{
    align-items:center ;
}
body{
    color: rgba(240, 248, 255, 0.567);
    background-color: #4d585d;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu-superior{
    height: 20px;
    padding: 50px;
    background-color: #042838;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.menu-superior h1{
    display: inline;
}

.menu-superior ul{
    margin-left: 320px;
    height: 50px;
    width: 50%;
    display: inline;
}
.menu-superior ul li{
    display: inline;
    margin: 20px;
}

.link-vertical{
    text-decoration: none;
}
.link-vertical:visited{
    color: black;
}

.link-vertical:link{
    color: black;
}

.secao{
    padding: 20px;
    border-radius: 7px;
}

#cards{
    margin: 10 30%;
}

.card-ferramenta{
    padding: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #042838;
    border-radius: 18px;
    transition: background-color;
}

.card-ferramenta:hover{
    background-color: #62faff;
    
}
.card-ferramenta img{
    width: 20px;
    height: 20px;
    margin: 5px;
}
#s-inicio{
    background-color: #042838;
}

#bio{
    margin:auto 26%;
}

#s-experiencia{
    background-color: #042838;
}
#s-contato{
    background-color: #042838;
}
.img-perfil-github{
    border-radius: 10px;
    float: left;
    margin-right: 7px;
    width: 100px;
    height: 100px;
}
